body {
    background-color: #FCCC0A;
}


*{ 
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
}
nav{ 
    width:100%;
    background-color: darkblue ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{ 
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{ 
    color: yellow ;
    font-size: 15px;

}

h1{ 
    padding-top: 3%;
}

p{ 
    font-family: 'Ubuntu', sans-serif;
    text-decoration-color: blue;
    text-decoration:  underline;
}